@using cardealership;
<h1>To Do List Item Details: </h1>

<h2>@Model.getModel()</h2>
<ul>
      <li>Price: @Model.getPrice()</li>
      <li>Miles: @Model.getMile()</li>
      <li>ID: @Model.getId()</li>
</ul>
<a href='/Index/new'>Add another item</a>
<a href='/Index'>View all items</a>
